amqp
asgiref
beautifulsoup4
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
Django
django-celery-results
django-timezone-field
djangorestframework
drf-yasg
idna
inflection
kombu
packaging
Pillow
prompt-toolkit
python-crontab
python-dateutil
pytz
PyYAML
redis
requests
six
soupsieve
sqlparse
tzdata
uritemplate
urllib3
vine
wcwidth
